.DS_Store
.DS_Store
.gitignore
Screenshot 2025-04-25 at 8.52.21 PM.png
Screenshot 2025-04-25 at 8.52.42 PM.png
.gitignore
.gitignore
Screenshot 2025-04-25 at 8.52.32 PM.png
Screenshot 2025-04-25 at 8.52.11 PM.png
Screenshot 2025-04-25 at 8.52.51 PM.png
Screenshot 2025-04-25 at 8.53.01 PM.png
.DS_Store
.DS_Store
.gitignore
.DS_Store

~$- Intermediary Report.docx
__pycache__/methods.cpython-311.pyc
